<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Payment</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product %> </td>
        <td><%= product.price %></td>
        <td><%= button_to "Add #{product}$", checkout_create_path, params: { id: product.id }, remote: true %></td>
        <td><%= link_to 'Show', product %></td><br>
        <td><%= link_to 'Edit', edit_product_path(product) %></td><br>
        <td><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New product", new_product_path %>
